@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Nunito:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
}

.wrapper{
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}

/*  Sign Up Form CSS    */
.form{
    padding: 25px 30px;
}
.form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.form form{
    margin: 20px 0;
}
.form form .error-message{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
   
}
.form form .name-input{
    display: flex;
    
}
form .name-input .field:first-child{
    margin-right: 10px;
}
.form form .name-input .field:last-child{
    margin-left: 10px;
}
.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.form form .input input{
    height: 40px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
}
.form form .image input{
    font-size: 17px;
}
.form form .button input{
    margin-top: 13px;
    border: none;
    height: 45px;
    font-size: 17px;
    font-weight: 500;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.form form .button input:hover{
    background: #000;
}
.form form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 50%;
    cursor: pointer;
}
.form .link{
    text-align: center;
    margin: 10px 0;
}
.form .link a{
    color: #333;
}
.form .link a:hover{
    text-decoration: underline;
}

/*  Users Area CSS  */
.users{
    padding: 25px 30px;
}
.users header,
.users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}
:is(.users .users-list) .content{
    display: flex;
    align-items: center;   
}
.users header .content img{
    height: 50px;
    width: 50px;
}
:is(.users .users-list) .details{
    margin-left: 15px;
    color:#000
}
:is(.users .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}
.users header .logout{
    color:#fff;
    padding: 7px 15px;
    background: #333;
    border-radius: 4px;
}
.users .search{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.users .search .text{
    font-size: 20px;
    font-weight: 500;
}
.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 4px;
}
.users .search button{
    width: 48px;
    height: 42px;
    border: none;
    outline: none;
    color:#fff;
    background: #333;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
}
.users-list{
    max-height: 350px;
    overflow-y: auto;
}
.users-list::-webkit-scrollbar{
    width: 0px;
}

.users-list a{
    margin-bottom: 15px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}
.users-list a:last-child{
    margin-bottom: 0;
}
.users-list a .content img{
    height: 40px;
    width: 40px;
}
.users-list a .content p{
    color:#67676a;
}
.users-list a .status-dot{
    font-size: 12px;
    color: #468669
}
/* Used in php to show offline */
.users-list a .status-dot.offline{
    color:#ccc;
}

/* Chat Area CSS */
.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
.chat-area header .back-icon{
    font-size: 18px;
    color:#333;
}
.chat-area header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}
.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}
.chat-box{
    height: 500px;
    background:#f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
    
}
.chat-box .details p{
    padding: 8px;
}
.chat-box .outgoing{
    display: flex;

}

